[Azure]
# Please specify Azure blob credentials here.
# You may leave blob_archive_name blank if you do not want to move data to an archive folder on Azure cloud. 
# You may leave all of below blank if no data needs to be downloaded from Azure. If so, please move your data to the "Downloaded" folder in this directory. 

blob_acc_name = 
blob_acc_key = 
blob_container_name = 
blob_folder_name = 
blob_archive_name = 




[SQL]
# Please specify your database credentials here.
# You may leave db_username and db_password blank if it's a trusted connection with Windows credentials.

server = (local)
database_name = test
db_username = 
db_password = 





[Append Option]
# This handle allows you to append ALL of the data in the "Downloaded" folder into a consolidated table before SQL upload. 
# For example, you may paste 50 Excel files and 50 csv of the same column names in the "Downloaded folder", or in zipped format.
# Note that this append operation comes after azure blob download (if applicable) and unzipping files (if applicable). 

append_option = 0